/mps_fasten_chapter.log
/doc.pdf
/doc.synctex.gz
/mps_fasten_book_main.aux
/mps_fasten_book_main.log
/mps_fasten_chapter.aux
*.idx
*.thm
/mps_fasten_book_main.ilg
/mps_fasten_book_main.ind
/do.synctex.gz
/doc.aux
/doc.bbl
/doc.blg
/doc.log
/doc.out
